*{
    margin: 0;
    padding: 0 ;
}
body{
    background-image: url("Night_view_of_a_city_with_crane_hanging_dining_table_and_people_2024_10_16_08_28_30_1_LE_digital_art_x4.jpg");
    background-size: 100% 100%;
    background-color: rgba(0, 0, 0, 0.548);
    backdrop-filter:blur(2px);
}
html{
    scroll-behavior: smooth;
}
#home{
    position: relative;
    width: 100vw;
    height: 100vh;
}
.banner{
   width: 100%;
   height: 100vh;
   position: relative;
   text-align: center;
   overflow: hidden;
}
.slider{
    position: absolute;
    width: 200px;
    height: 250px;
    top: 38%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform:perspective(1000%); 
    animation: autoRun 25s  linear infinite;
}

@keyframes autoRun{
from{
    transform: perspective(1000px) rotateX(-15deg) rotateY(0deg);
}
to{
    transform: perspective(1000px) rotateX(-15deg)  rotateY(360deg);
}
}


.item{
    position: absolute;
    inset: 0 0 0 0;
    transform: 
    rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg ))
    translateZ(400px);

}
.item img{
    width: 110%;
    height: 90%;
   object-fit: cover;

}

.main1{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 110px;
    color: orange;
    font-weight: 600;
    text-shadow: 2px 2px 10px black ,  2px 2px 10px rgba(255, 166, 0, 0.562) , 2px 2px 10px black;
}
#nav{
    width: 100vw;
    height: 15vh;
    position: absolute;
    background: linear-gradient(to right ,rgba(8, 6, 2, 0.685),rgba(134, 107, 57, 0.884));
    border: 2px solid black;
    border-radius: 0px 0px 50% 50%;
    box-shadow: 0px 5px 10px black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 3;
   
}
.logo{
    font-size: 30px;
    font-weight: 500;
    color: orange;
    text-shadow: 2px 2px 10px black ,  2px 2px 10px rgba(255, 166, 0, 0.562) , 2px 2px 10px black;
    display: flex;
    align-items: center;
    justify-content: center;

}
.list ul{
    display: flex ;
    align-items: center;
    justify-content: center;
    color: orange;
    gap: 40px;
    font-size: 18px;
    font-weight: 500;
    list-style: none;
    cursor: pointer;
}

.list ul li{
    transition: all 0.5s;
}
.list ul li:hover{
 letter-spacing: 4px;
 color: white;
}
.bt img{
    width: 50px;
    height: 50px;
    filter: drop-shadow(2px 2px 10px black ,  -2px -2px 10px rgba(255, 166, 0, 0.562) , 2px 2px 10px black);
    color: orange;
    background-color: orange;
}

.bt{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    border: 2px solid orange;
    background-color: orange;
    background: transparent;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 500;
    color: orange;
    text-shadow: 2px 2px 10px black ,  -2px -2px 10px rgba(255, 166, 0, 0.562) , 2px 2px 10px black;
    box-shadow: 2px 2px 10px black ,  -2px -2px 10px rgba(255, 166, 0, 0.562) , 2px 2px 10px black;
    cursor: pointer;
    text-decoration: none;
    
}
.bt a{
    text-decoration: none;
    color: orange;
}
 

.list ul a{
    text-decoration: none;
    color: orange;
}
.bt:hover{
    flex-direction: row-reverse;
    background-color: rgba(255, 166, 0, 0.562);
    color: white;
    
}
#manu{
    width: 100vw;
    height: 1000vh;
}
.container{
    width: 100vw;
    height: 100vh;
    gap: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;


}
.card1{
    width: 250px;
    height: 400px;
    position: relative;
    transition: all 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    
}
.card1:hover{
    transform: rotateY(180deg);
}
.front{
    width: 250px;
    height: 400px;
    background-color: rgba(240, 248, 255, 0.692);
    backdrop-filter: blur(5px);
    border: 2px solid orange;
    border-radius: 40px;
    box-shadow:2px 2px 10px black ,  -2px -2px 10px rgba(255, 166, 0, 0.562) , 2px 2px 10px black ;
    color: orange;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 10px;
    text-shadow: 2px 2px 10px black ,  -2px -2px 10px rgba(255, 166, 0, 0.562) , 2px 2px 10px black;
    position: absolute;
}
.front img{
    width: 230px;
    height: 230px;
    padding: 13px 10px;
    filter: drop-shadow(2px 2px 10px black);
}
.back{
    width: 250px;
    height:400px;
    background-color: rgba(240, 248, 255, 0.521);
    backdrop-filter: blur(5px);
    border: 2px solid orange;
    border-radius: 40px;
    box-shadow:2px 2px 10px black ,  -2px -2px 10px rgba(255, 166, 0, 0.562) , 2px 2px 10px black ;
    color: orange;
    font-size: 60px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 40px;
    text-align: center;
    text-shadow:2px 2px 10px black ,  -2px -2px 10px rgba(255, 166, 0, 0.562) , 2px 2px 10px black  ;
    transform: rotateY(180deg);
    backface-visibility: hidden;

}
.back span{
    color: rgb(255, 72, 0);
    text-shadow: 2px 2px 10px black ,  -2px -2px 10px rgba(255, 166, 0, 0.562) , 2px 2px 10px black ;
    font-size: 60px;
    font-weight: 700;
}
#booktable{
    width: 100vw;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;


}
.main3{
    width: 80%;
    height: 80%;
    background-color: rgba(240, 248, 255, 0.438);
    backdrop-filter: blur(5px);
    border: 2px solid orange;
    border-radius: 40px;
    box-shadow:2px 2px 10px black ,  -2px -2px 10px rgba(255, 166, 0, 0.562) , 2px 2px 10px black ;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;

}
.logo1 img{
    width: 160px;
    height: 160px;
    
}
.logo1{
 
    border: 2px solid orange;
    border-radius: 40px;
    box-shadow:2px 2px 10px black ,  -2px -2px 10px rgba(255, 166, 0, 0.562) , 2px 2px 10px black;
    cursor: pointer;
} 
.logo1:hover{
    
    box-shadow: inset 5px 5px 10px black, 2px 2px 10px black ,  -2px -2px 10px rgba(255, 166, 0, 0.562) ;
}